<h1 id="page-title">Reviews</h1>
<h2 id='messageWrite'></h2>
<form method="GET" id='filterForm'>
	Location:
	<input id='location' type="text" name="location">
	User:
	<input id='user' type="text" name="username">
	Rating:
	<input id='rating' type="number" min='1' max='5' name="rating">
	<input id='input' type="submit" value="Submit">
</form>




<table id="rev-table" class="table">
  <thead>
    <tr>
      <th scope="col">Shop Name</th>
      <th scope="col">Author</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
  {{#each rev as |r|}}
	<tr id={{@index}}>
		<td id='locationElem' scope="row"><a href='/review/location/{{r._id}}'>{{r.location}}</a></td>
		<td id='usernameElem'>{{r.username}}</td>	
		<td id='ratingElem'>{{r.rating}}</td>	
		<td id='reviewElem'>{{r.review}}</td>
	</tr>
	{{/each}}
  </tbody>
</table>

<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>